table.views-table.cols-3.table.table-hover.table-striped {
    font-size: small;
}

thead {
    text-align: left;
}

thead > tr {
    background-color:  rgb(147, 197, 75);
    /* border-bottom-color: rgb(223, 215, 202); */
    /* border-bottom-style: solid; */
    /* border-bottom-width: 1px; */
    /* border-left-color: rgb(223, 215, 202); */
    /* border-right-color: rgb(223, 215, 202); */
    /* border-top-color: rgb(223, 215, 202); */
    /* border-top-left-radius: 3px; */
    /* border-top-right-radius: 3px; */
    /* box-sizing: border-box; */
    color: rgb(255, 255, 255);
    /* cursor: auto; */
    /* display: block; */
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    /* height: 43px; */
    /* line-height: 22px; */
    /* padding-bottom: 10px; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    /* width: 210.5px; */
    margin: 5px;
    vertical-align: middle;
}

h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

p {
    margin-top: 0px;
    /* box-sizing: border-box; */
    color: rgb(62, 63, 58);
    /* display: block; */
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-size: 14px; */
    /* height: 80px; */
    /* line-height: 20px; */
    /* margin-bottom: 10px; */
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    /* margin-top: 0px; */
    /* width: 697.5px; */
}

tr.odd {
    background-color: #f8f5f0;
}

tr.odd.views-row-first {}

td {
    /* border-collapse: collapse; */
}

a {
    color: rgb(147, 197, 75);
}

h4 {
    text-align: center;
}

h5 {}

thead h5 {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

section li {
    /* display: inline; */
    /* background-color: #93C54B; */
    /* color: white; */
    border-collapse: separate;
    color: rgb(255, 255, 255);
    display: list-item;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    line-height: normal;
    /* text-align: center; */
    text-transform: uppercase;
    vertical-align: middle;
    /* white-space: normal; */
    width: 200;
    margin: 5px;
    vertical-align: middle;
    padding-top: 10px;
    border-radius: 4px;
    text-decoration: none;
}

section li a {
    /* color: white; */
    text-decoration: none;
    /* display: block; */
}

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}

.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}

.bs-callout-info h4,
.bs-callout-info a {
    color: #3A87AD;
}

.bs-callout a.alert-link {
    font-weight: bold;
}
.checkout-help {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
 /* callout css END */ 
 
 blockquote {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
 }
 
 small {
  font-size:small;
 }
 
 .text-success {
    color: #93c54b;
}

.text-warning {
    color: #f47c3c;
}

.text-danger {
    color: #d9534f;
}

.text-info {
    color: #29abe0;
}
