/**
 * Styles for the {{ THEME NAME }} theme.
 */
 
/**
 * This is the Twitter Bootstrap documentation's callout css. Looks nice.
 */ 
/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}

.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}

.bs-callout-info h4,
.bs-callout-info a {
    color: #3A87AD;
}

.bs-callout a.alert-link {
    font-weight: bold;
}
.checkout-help {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
 /* callout css END */ 

/* We used fiexed header and therefore loose headers bottom margin  */
section.col-sm-8.col-lg-9, 
aside.col-lg-3.col-sm-4.col-xs-6 {
  padding-top: 15px;
}
.views-row {
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
}
/* Product list */
.view-shop .views-row {
  border-bottom: 1px solid #eee;
  padding-bottom: 0;
}
.product-info {
  padding-top: 24px;
}
.product-info.small {
  padding-top: 16px;
}
.product-body {
  padding-left: 12px;
  border-left: 1px solid #eee;
  padding-bottom: 12px;
}
.product-body {
  padding-left: 12px;
  border-left: 1px solid #eee;
  padding-bottom: 12px;
}

/* Some custom helper classes */
.space {
  padding: 4px 20px 4px 0;
  white-space: nowrap;
}
.label.space {
  padding: 4px 12px;
  margin-right: 8px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }


/* Shows roles as tab like label on wide screens */
@media (min-width: 768px) { 
  .user-role {
    right: 0px;
    margin-top: -30px;
    height: 30px;
    color: #B5B5B5;
    margin-bottom: 0px;
    background: rgba(0,0,0,0.4);
    padding: 5px;
  }
  #block-custom-misc-custom-misc-member-status {
    height:10px;
    z-index: 99;
    position: absolute;
    right: 0px;
  }
  .highlighted {
    position: relative;
  }

  /* Make Initiatives page title awesome */
  .context-initiative .front-matter {
    color: white;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top:30px;
    padding: 10px 10px 10px 80px;
    text-shadow: 0 0 2px #000;
  }
}
.context-initiative .front-matter a {
  color: white;
}
.context-initiative .front-matter-sm {
  color: white;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: 30px;
  left: 15px;
  right: 15px;
  padding: 10px 10px 10px 20px;
  text-shadow: 0 0 2px #000;
}
.context-initiative .nav-pills > li > a,
.page-node-17 .nav-pills > li > a {
    border-radius: 0;
}

.context-initiative h1.page-header {
  border-bottom: none;
}

/* Responsible shoping cart table */
.task-table h4 {
  margin-top:6px;
}
.task-table div.views-row-odd  {
  background-color: #f8f5f0;
}
.task-table div.row  {
  padding-bottom:10px;
  padding-top:10px;
  margin-left: 0px;
  margin-right: 0px;  
  border-bottom-color: rgb(223, 215, 202);    
}


/* Correcting some odd styles for badges bisides navs */
/*.nav .badge {*/
/*  font-size: 9px;*/
/*  margin-bottom: 2px;*/
/*}*/

/* Correcting odd color for links in alert regions */
.alert-danger a {
    color: #d9534f;
}
.alert-success a.btn {
    color: #ffffff;
}

/* Correcting odd margin for blockquote */
blockquote {
  margin: 20px 0 20px;
}

/* Changes on the edit form for Categories */
.field-name-field-categories .form-group {
  margin-bottom: 0;
}
.form-radios .form-item {
  display: inline-block;
}
.form-radios .radio label{
  margin-right: 5px;
  padding-left: 12px;
}


/* Set navbars background color on container to not visually expand it over
   full browser width */
#navbar {
  background-color: transparent;
  border-color: transparent;
  margin-bottom:0px;
}
.main-container.container {
  background-color:white;
}
body {
  background-color:rgba(248, 245, 240, 0.39);
}
#navbar .container {
  background-color:#93c54b;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
  box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
}


/* Marign under tabs. TODO: Better soluton? */
.main-container section .navbar-default {
  margin-bottom:15px;
}

/* Top marign for page headter title */
@media (max-width: 768px) { 
  h1.page-header {
    margin-top:20px;
  }
  #block-system-main-menu .nav {
    position: fixed;
    z-index: 999;
    background-color: white;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
    box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
    top: 50px;
    width: 100%;      
  }
  body {
    margin-top:35px;
  }

}

/* Footer same style as header 
   Do we realy want a big fat footer? */
.footer {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 8px;
    padding-bottom: 9px;
    color:white;
    border-top: 30px solid #FFFFFF;
}
.front .footer {
/*    background-color: white;*/
}

/**
 * TODO: This is only a temporary overight, for test purpouse. If we like a smaller
 *       we are going to change the less files. If not, we are going to delete
 *       the following css rules.      
 */
.navbar-brand {
    padding: 13px 15px;
    height: 40px;
}

.navbar-toggle {
    margin-top: 7px;
    margin-bottom: 7px;
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
      padding-top: 13px;
      padding-bottom: 13px;
  }
}

.navbar {
  min-height: 40px;
}

.navbar-btn {
    margin-top: 0;
    margin-bottom: 0;
}
body.navbar-is-fixed-top {
    padding-top: 50px!important;
}
body.navbar-is-fixed-top.front {
    padding-top: 20px!important;
}

/* Mobile menu */
#block-system-main-menu .nav li {
  text-align: center;
  display: table-cell;
/*  width: 1%;*/
}

/**
 * TODO: The markup of exposed form widgets is realy messy
 *       Everyone should feel free to clean that mess up! I'm done with it!
 */
.views-exposed-form .views-exposed-widget {
    float: none;
    padding: 0.5em 0px 0px 0px;
}
.geofield-proximity-field-wrapper .form-item, 
.geofield-proximity-field-wrapper .geofield-proximity-origin-from {
    float: none;
    margin-right: 0px;
}

/* A light button */
.btn-light {
  border: 1px solid #DFD7CA;
}
.btn-light:hover, 
.btn-light:focus, 
.btn-light.focus {
  border: 1px solid #DFD7CA;
  text-decoration: none;
  background-color: #F8F5F0;
  color:black;
}

/* Helper classes */
.nomargin {
  margin:0 0 0 0;
}

/* Classes for modal dialogs */
.alert-modal a {
  color: #93c54b;
}

.alert-modal-warning a {
  color: #f47c3c;
}


/* TODO: Why the hell would bootstrap set white-sapce to nowrap in tables for small
   displays. That has strange side effects. */
.table-responsive > .table > thead > tr > th, 
.table-responsive > .table > tbody > tr > th, 
.table-responsive > .table > tfoot > tr > th, 
.table-responsive > .table > thead > tr > td, 
.table-responsive > .table > tbody > tr > td, 
.table-responsive > .table > tfoot > tr > td {
/*     white-space: normal;*/
}

/* Don't grey out small text in headers */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: inherit;
}

.task-operations li {
  padding:0 0;
}

@media screen and (max-width: 991px) and (min-width: 772px) {

  .context-initiative h1.page-header {
    font-size:26px;
  }
  .context-initiative h3.subtitle.slogan {
    font-size:16px;
  }
}

/* Brand styling */
@font-face {
	font-family: Futura;
	src: url('../fonts/FUTURAN.TTF') format('truetype');
}
.navbar-inverse .navbar-brand {
    margin-top:-3px;
    font-family: Futura;
    font-size: 26px;
}

/* Task styling */ 
@media screen and (min-width: 772px) {
  .task-details .well {
    min-height:160px;
  }
}
.commerce-add-to-cart .form-group {
    max-width:300px;
}

/* Make slider more bootstrap */
.ui-slider .ui-slider-handle {
  height: 20px;
  width: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-top: -1px;
}
.ui-slider .ui-state-default {
  border-radius: 4px;
  background-color: #F8F5F0;
}
.slide-with-style-slider.ui-slider-horizontal {
  background-image: linear-gradient(left, #93c54b 0%, #ef5c0e 50%, #d9534f 100%);
  background-image: -moz-linear-gradient(left, #93c54b 0%, #ef5c0e 50%, #d9534f 100%);
  background-image: -webkit-linear-gradient(left, #93c54b 0%, #ef5c0e 50%, #d9534f 100%);
  border-radius: 4px;
}

/* Some adjustments for the BEF buttons */
.views-exposed-form .views-exposed-widget .btn {
  margin-top: 0;
}
.views-exposed-form .form-radios .radio label.btn {
  margin-top: 1em;
  padding-left: 5px;
}    

/* Don't adjust priority lables on text basline in h3 */
.priority.label {
  vertical-align: text-top;
}

/* FRONTPAGE */
.header {
  position: relative;
  height: 384px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  overflow:hidden;
}
.header-image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: -9999999px;  
  right: -9999999px;  
  height: 100%;
  min-width: 1200px;
  display: block;
  margin-right: auto;
  margin-left: auto;  
}
.header-content {
  position: relative;
  padding: 1px 20px 20px 20px;
  z-index: 1;
  top: 120px;
  background: rgba(0, 0, 0, 0.25);
  font-family: Futura;
  margin-left: -15px;
  margin-right: -15px;
}
.header-menu:hover {
  text-decoration: none;
}

/* Style for geolocations block on frontpage. 
/* TODO: Build an extra block or but this into geolocation module. */
.header #edit-location {
  position: absolute;
  top: 342px;
  right: 0;
  background-color: transparent;
  margin-bottom: 0px;
  border: none;
}

.header #edit-location legend {
  background-color: transparent;
  border: none;
  color: white;
}

.header #edit-location .panel-body {
  background-color:rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 39px;
  padding: 10px;
  width: 100%;
  z-index: 99; 
  min-width: 200px;
  right: -5px;    
}

/* Some adjustments for facets. */ 
.block-facetapi ul {
  list-style:none;
  padding: 0 0 0 15px;
}
.block-facetapi > div > ul {
  list-style:none;
  padding: 0 15px 0 15px;
}
.block-facetapi li {
/*  display:inline-block;*/
  margin-bottom:0px;
}
.block-facetapi .control-label {
  padding-left: 5px;
  margin-bottom:5px;
}
.block-facetapi li a {
    display: block;
}
.block-facetapi li a:first-letter {
    text-transform: uppercase;
    display: block;
}

/* Fix btn group for live result. */
.input-group-btn-fix {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-search {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.page-tasks .page-header {
  border-bottom: none;
  text-align: center;
}


.block:first-child h2.block-title, .page-header {
  margin-bottom: 0;
}

aside,
section.col-sm-8.col-lg-9,
.region.region-content,
aside section {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

aside .nav > li > a {
  padding: 5px 15px;
}

/* Add to cart widget for task view. */
/*.product-form .input-group-addon {*/
/*    border: 1px solid #dfd7ca;*/
/*    border-bottom: 0;*/
/*    border-top-left-radius: 3px;*/
/*    border-top-right-radius: 3px;*/
/*}*/
/*.product-form .btn {*/
/*    border-top-left-radius: 0;*/
/*    border-top-right-radius: 0;*/
/*}*/
.product-info .btn {
  opacity:0;
  margin: -15px auto;
  display:block;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease; 
    -webkit-transition-delay: 0s; /* Safari */
    transition-delay: 0s;
}

.views-row:hover .product-info .btn {
  opacity:1;
}

.facetapi-facetapi-links {
  margin-bottom: 20px;
  padding-left: 0;
}

/* Smaller sidebar block titles. */
aside.sidebar-offcanvas .block-title,
aside.sidebar-offcanvas  .item-list h3 {
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px;
    background-color: rgb(248, 245, 240);
    color: #A7978E;
}

/* Show location fieldset as normal text within proximity filter.
 * TODO: We need to simplifiy the sidebar and this CSS is nothing more as 
 * an prove of concept. If we like it we should do it more cleanly. */
#block-custom-geolocation-custom-geolocation-proximity legend.panel-heading {
  border: 0;
  padding: 0;
  background-color: transparent !important;
}
#block-custom-geolocation-custom-geolocation-proximity fieldset {
    border: 0;
    padding: 0;
}

#block-custom-geolocation-custom-geolocation-proximity fieldset .panel-title {
    font-size: 12px;
    font-weight: 500;
    text-transform:none;
    padding-bottom:0px;
    margin-bottom:-20px;    
}

form#custom-geolocation-proximity-form {
    padding: 0 0 0 15px;
    margin-bottom:-10px;
}

/* Correct some margins for blocks in the side panel. */
aside .block .panel {
  margin-top:20px;
}
aside > div > section.block:first-child .panel {
  margin-top:0;;
}

div.krumo-preview {
  color: #293333;
}
.krumo-child div.krumo-element {
  background: #C3C3C3;
}
div.krumo-expand {
    background: #B4B4B4;
}

.geodata, .geodata-container {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; 
}

/* Footer Menu */
footer .nav > li > a {
    position: relative;
    display: block;
    padding: 0;
    color: #ffffff;
    
}
footer .nav > li > a:focus,
footer .nav > li > a:hover,
footer .nav > li > a.active {
  background-color:transparent;
  color: #bbdf87;   
}
footer ul.nav {margin-left: 0;
 padding-left: 15px;
 text-transform: none;
 }
 
 /* Badge in top menu showing cart count via JS */
 
.cart-count {
  font-size: 9px;
  margin-top: -2px;
  margin-left: 2px;
  display: inline-block;
}
.cart-count-placeholder {
  display: inline-block;
}
 

